# Git files
.git
.gitignore
.gitattributes

# Dependencies
node_modules
package-lock.json

# Build artifacts
dist

# IDE
.vscode
.DS_Store

# Documentation
readme.md
LICENSE
examples

# Development files
*.log
npm-debug.log*
